RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond $1 !^(public|app|favicon\.ico|favicon\.png|media|robots\.txt|crossdomain\.xml|public|css|js)
RewriteRule ^(.*)$ app.php?rt=$1 [L,QSA]

